process {

  container = 'iracooke/movp:0.6'
  cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
  memory = { check_max( 6.GB * task.attempt, 'memory' ) }

}

params.base_path="${launchDir}"
params.populations="NO_FILE"
params.max_cpus=64
params.fb_chunksize=500000
params.gatk_chunksize=500000
params.max_memory=200.GB
params.callers="freebayes,bcftools,gatk"

